certifi==2020.6.20
chainer==6.7.0
chardet==3.0.4
Cython==0.29.21
filelock==3.0.12
googledrivedownloader==0.4
idna==2.10
lxml==4.5.2
nltk==3.0.5
numpy==1.19.2
protobuf==3.13.0
PyYAML==5.3.1
requests==2.24.0
simplejson==3.17.2
six==1.15.0
typing==3.6.6
typing-extensions==3.6.6
urllib3==1.25.10
